*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.view-container > * {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}