@import "../partials";

.block-system-branding-block {
  .site-name a {
    color: $blue;
    text-decoration: none;
    font-family: 'Nexa slab bold FREE';
    font-size: 32px;
    letter-spacing: -0.6px;
    line-height: 1;
  }

  .site-slogan {
    color: $white;
    font-family: 'Nexa';
    font-size: 16.5px;
    letter-spacing: -0.75px;
    font-weight: 600;
    line-height: 1.15;
  }
}