.project-type--web-dewelopment {
  color: #1bbc9b;
}
.project-type--php-development {
  color: #9b58b5;
}
.project-type--app-development {
  color: #e84c3d;
}
.project-type--drupal-project {
  color: #28a9e0;
}