footer {
  background-color: #373645;
  padding: 85px 0 59px 0;
}
footer .region-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .region-footer .block-block-content {
  display: flex;
  transform: translateX(23px);
  padding-top: 5px;
}
@media screen and (max-width: 1320px) {
  footer .region-footer .block-block-content {
    transform: none;
  }
}
footer .region-footer .block-block-content > :not(.contextual) {
  margin-left: 12px;
  height: 25px;
}