.block-views-blocknews-block-1 {
  margin-top: 180px;
}
.block-views-blocknews-block-1 > h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Open sans";
  font-weight: 700;
  letter-spacing: 0.2px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #373645;
}
.block-views-blocknews-block-1 > h2::before, .block-views-blocknews-block-1 > h2::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #cccccc;
  margin: 0 15px;
}
.block-views-blocknews-block-1 .view-news {
  margin-top: 22px;
  background: repeating-linear-gradient(135deg, #cccccc, #cccccc 2px, #fff 2px, #fff 8px);
  padding-bottom: 74px;
}