@import "../partials";

header {
  z-index: 10;
  width: 100%;
  padding: 39px 0;
  
  &.header-absolute {
    position: absolute;

    .header-wrapper {
      &::before {  
        content: "";
        position: absolute;
        top: 70%;
        left: 3%;
        box-shadow: #373645 0 0 15px 3px;
        z-index: -1;
        width: 94%;
        height: 30%;
        border-radius: 30%;
      }
    }
  }

  #search-api-page-block-form-global-search-page {
    display: flex;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    position: relative;
  }
}

.region {
  &-header {
    background-color: $gray;
    padding: 32px 39px 32px 37px;
  }

  &-primary-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

    & > nav {
      flex: 1;
    }

    .block-block-content {
      display: flex;
      padding: 0 20px;
      align-items: center;

      &>*:not(.contextual){
        margin: 0 5.5px;
      }
    }


    &>*,
    .menu {
      display: flex;
      flex-direction: row;
    }
    
    .menu {
      list-style: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 3px 16px 0 30px;
  
      &>:first-child{
        margin-right: 7px;

        a.is-active::after{
          top: 63px;
        }
      }

      &>* {
        position: relative;
        a {
          text-decoration: none;
          color: $gray;
          display: flex;
          font-family: "Open sans";
          font-size: 14px;

          &.is-active::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 8px;
            background-color: $blue;
            top: 58px;
            pointer-events: none;
          }
        }
      }
    }
  }

  &-secondary-menu {
    display: flex;
    align-items: center;
    padding-right: 30px;

    form {
      .search-form__submit {
        width: 39px;
        height: 40px;
        background: none;
        border: 1px solid $ligth-gray;
        border-radius: 0 1px 1px 0;
        color: transparent;
        background-image: url("/themes/custom/exam/images/Search-img.png");
      }

      .form-search {
        height: 39px;
        border: solid 1px $ligth-gray;
        border-radius: 1px 0 0 1px;
        width: 8.9vw;
        min-width: 130px;
        border-right: none;
        outline: none;
        padding: 5px;
      }
    }
  }
}