@import "../partials";

.block-views-blockprojects-block-1 {
  margin-top: 108px;

  &>h2 {
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    font-family: "Open sans";
    font-weight: 400;
    letter-spacing: 0.2px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: $gray;
    margin-bottom: 18px;

    &::before,
    &::after {
      content: "";
      border-bottom: 1px solid $middle-gray;
      transform: translateY(1px);
    }

    &::before {
      flex: 1.1;
      margin-left: 15px;
      margin-right: 2px;
    }

    &::after {
      flex: 1.068;
      margin-right: 15px;
      margin-left: 2px;
    }
  }

  .view-projects {
    padding-top: 69px;
    background: repeating-linear-gradient(135deg,
        $middle-gray,
        $middle-gray 2px,
        $white 2px,
        $white 8px
      );

    .view-content {
      margin-bottom: 46px;
    }

    .views-row {
      background-color: $white;
      border-bottom: solid $gray 1px;
      border-radius: 2px;
      overflow: hidden;

      .views-field-title {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 29px;

        a {
          text-decoration: none;
          color: $gray;
          font-family: "Avenir";
          text-transform: uppercase;
          font-size: 24px;
        }
      }

      .views-field-field-project-type {
        width: 100%;
        text-align: center;
        font-family: "Open sans";
        margin-top: 3px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15.3px;
        padding-right: 6px;
        word-spacing: 3px;
      }

      .views-field-view-node {
        text-align: center;
        margin-top: 20px;
        padding-right: 4px;
        margin-bottom: 17px;

        a {
          text-decoration: none;
          color: $white;
          font-family: "Open sans";
          text-transform: uppercase;
          font-size: 14px;
          padding: 5px 9px;
          background-color: $gray;
        }
      }
    }
  }
}